snippet item "itemize environment" b
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet it "item line" b
\item $0
endsnippet

snippet notes "Notes template" b
\documentclass[10pt]{report}
\usepackage{fancyhdr}
\usepackage{amsmath}
\usepackage{amssymb}
\usepackage{parskip}
\usepackage{float}
\usepackage{tikz}
\usepackage{xcolor}
\usepackage{pgfplots}
\usepackage{wrapfig}
\DeclareMathSizes{10}{10}{10}{10}
\pgfplotsset{compat=1.18}
% Header Setup
\pagestyle{fancy}
\fancyhf{} % clear headers
\lhead{shaijm} % left header
\rhead{${1:course code}} % right header
\cfoot{\thepage} % center footer
\begin{document}
\setcounter{chapter}{0}
\chapter{${2:Chapter Name}}
\section{${3:Section Name}}
$0
\end{document}
endsnippet

snippet chap "Chapter" b
\chapter{$1}
$0
endsnippet

snippet sec "Section" b
\section{$1}
$0
endsnippet

snippet eq "Equation" b
\begin{equation}
	$1
\end{equation}
$0
endsnippet

snippet mk "Inline math" w
$${1}$$0
endsnippet

snippet dm "Math block" b
\[
	$1
\]
$0
endsnippet

snippet bf "Bold" w
\textbf{$1}$0
endsnippet

snippet ii "Italics" w
\textit{$1}$0
endsnippet

snippet em "Emphasis" w
\emph{$1}$0
endsnippet

snippet enum "Enumerate (numbered list)" b
\begin{enumerate}
	\item $0
\end{enumerate}
endsnippet

snippet txt "a text env ; within math blocks, etc" w
\text{$1}$0
endsnippet

snippet frac "fraction" w
\frac{$1}{$2}$0
endsnippet

snippet sub "subsection" b
\subsection{$1}$0
endsnippet

snippet subsub "subsubsection" b
\subsubsection{$1}$0
endsnippet

snippet beg "begin block" b
\begin{$1}$2
	$0
\end{$1}
endsnippet

snippet sl "text slanted" w
\textsl{$1}$0
endsnippet

snippet sum "sum env" w
\sum_{$1}^{$2}$0
endsnippet

snippet prod "prod env" w
\prod_{$1}^{$2}$0
endsnippet

snippet ttt "typewriter text" w
\texttt{$1}$0
endsnippet

