snippet item "itemize environment" b
\begin{itemize}
	\item $0
\end{itemize}
endsnippet

snippet it "item line" b
\item $0
endsnippet

snippet template "Document template" b
\documentclass{article}
\usepackage{fancyhdr}
\usepackage{amsmath}
% Header Setup
\pagestyle{fancy}
\fancyhf{} % clear headers
\lhead{shaijm} % left header
\rhead{${1:course code}} % right header
\cfoot{\thepage} % center header
\begin{document}
\chapter{${2:Chapter Name}}
\section{${3:Section Name}}
$0
\end{document}
endsnippet

snippet chap "Chapter" b
\chapter{$1}
$0
endsnippet

snippet sec "Section" b
\section{$1}
$0
endsnippet

snippet eq "Equation" b
\begin{equation}
	$1
\end{equation}
$0
endsnippet

snippet mk "Inline math" w
$${1}$$0
endsnippet

snippet dm "Math block" b
\[
	$1
\]
$0
endsnippet

snippet bf "Bold" w
\textbf{$1}$0
endsnippet

snippet ii "Italics" w
\textit{$1}$0
endsnippet

snippet em "Emphasis" w
\emph{$1}$0
endsnippet

snippet enum "Enumerate (numbered list)" b
\begin{enumerate}
	\item $1
$0
\end{enumerate}
endsnippet

snippet txt "a text env ; within math blocks, etc" w
\text{$1}$0
endsnippet
